<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Next" version="4.2.0" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.7.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.2" targetFramework="net48" />
  <package id="MailKit" version="4.18.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="5.3.2" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.3.2" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.158" targetFramework="net48" />
  <package id="MimeKit" version="4.18.0" targetFramework="net48" />
  <package id="SQLite" version="3.53.4" targetFramework="net48" />
  <package id="SQLite.CodeFirst" version="1.8.0" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="3.0.5" targetFramework="net48" />
  <package id="SQLitePCLRaw.config.e_sqlite3" version="3.0.5" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="3.0.5" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="3.0.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Data.SQLite" version="2.0.4" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="2.0.3" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>